In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [4]:
res=list(zip(*lat_lngs))

In [5]:
print ("Modified list is : " + str(res))

Modified list is : []

In [6]:
pip install citipy

Requirement already satisfied: citipy in /Users/cristinacodispoti/opt/anaconda3/lib/python3.9/site-packages (0.0.5)
Requirement already satisfied: kdtree>=0.12 in /Users/cristinacodispoti/opt/anaconda3/lib/python3.9/site-packages (from citipy) (0.16)
Note: you may need to restart the kernel to use updated packages.

In [7]:
from citipy import citipy

In [8]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

626

In [9]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [10]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=8eda0f82b697d090d47d4b19ac1e59ef

In [11]:
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [12]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1


# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | cabedelo
Processing Record 2 of Set 1 | port elizabeth
Processing Record 3 of Set 1 | poya
Processing Record 4 of Set 1 | atuona
Processing Record 5 of Set 1 | turukhansk
Processing Record 6 of Set 1 | stornoway
Processing Record 7 of Set 1 | jamestown
Processing Record 8 of Set 1 | kahului
Processing Record 9 of Set 1 | hamilton
Processing Record 10 of Set 1 | bredasdorp
Processing Record 11 of Set 1 | mataura
Processing Record 12 of Set 1 | mitu
Processing Record 13 of Set 1 | santa marta
Processing Record 14 of Set 1 | saint-philippe
Processing Record 15 of Set 1 | kodiak
Processing Record 16 of Set 1 | cherskiy
Processing Record 17 of Set 1 | aklavik
Processing Record 18 of Set 1 | tasiilaq
Processing Record 19 of Set 1 | palabuhanratu
City not found. Skipping...
Processing Record 20 of Set 1 | aizkraukle
Processing Record 21 of Set 1 | makakilo city
Processing Record 22 of Set 1 | eyl
Processing Record 23 of Set 1 | east london
Processing Record 24 of Set 1 | castelo do piaui
Processing Record 25 of Set 1 | barrow
Processing Record 26 of Set 1 | luena
Processing Record 27 of Set 1 | rikitea
Processing Record 28 of Set 1 | jiddah
City not found. Skipping...
Processing Record 29 of Set 1 | qaanaaq
Processing Record 30 of Set 1 | taolanaro
City not found. Skipping...
Processing Record 31 of Set 1 | samfya
Processing Record 32 of Set 1 | hithadhoo
Processing Record 33 of Set 1 | maridi
Processing Record 34 of Set 1 | avarua
Processing Record 35 of Set 1 | khatanga
Processing Record 36 of Set 1 | kurilsk
Processing Record 37 of Set 1 | punta arenas
Processing Record 38 of Set 1 | havre-saint-pierre
Processing Record 39 of Set 1 | carnarvon
Processing Record 40 of Set 1 | adrar
Processing Record 41 of Set 1 | vestmannaeyjar
Processing Record 42 of Set 1 | kangaatsiaq
Processing Record 43 of Set 1 | barra velha
Processing Record 44 of Set 1 | hobart
Processing Record 45 of Set 1 | ushuaia
Processing Record 46 of Set 1 | albany
Processing Record 47 of Set 1 | fortuna
Processing Record 48 of Set 1 | ponta do sol
Processing Record 49 of Set 1 | busselton
Processing Record 50 of Set 1 | nguiu
City not found. Skipping...
Processing Record 1 of Set 2 | codrington
Processing Record 2 of Set 2 | erenhot
Processing Record 3 of Set 2 | nelson bay
Processing Record 4 of Set 2 | tuggurt
City not found. Skipping...
Processing Record 5 of Set 2 | mar del plata
Processing Record 6 of Set 2 | astana
Processing Record 7 of Set 2 | nizhneyansk
City not found. Skipping...
Processing Record 8 of Set 2 | tautira
Processing Record 9 of Set 2 | teguise
Processing Record 10 of Set 2 | cape town
Processing Record 11 of Set 2 | santa fe
Processing Record 12 of Set 2 | yenagoa
Processing Record 13 of Set 2 | andenes
Processing Record 14 of Set 2 | bluff
Processing Record 15 of Set 2 | illoqqortoormiut
City not found. Skipping...
Processing Record 16 of Set 2 | bonthe
Processing Record 17 of Set 2 | iranshahr
Processing Record 18 of Set 2 | bethel
Processing Record 19 of Set 2 | pangnirtung
Processing Record 20 of Set 2 | cairns
Processing Record 21 of Set 2 | port alfred
Processing Record 22 of Set 2 | vaini
Processing Record 23 of Set 2 | lebu
Processing Record 24 of Set 2 | marawi
Processing Record 25 of Set 2 | lethem
Processing Record 26 of Set 2 | mazara del vallo
Processing Record 27 of Set 2 | hasaki
Processing Record 28 of Set 2 | pulandian
Processing Record 29 of Set 2 | tomatlan
Processing Record 30 of Set 2 | kokopo
Processing Record 31 of Set 2 | tsihombe
City not found. Skipping...
Processing Record 32 of Set 2 | kearney
Processing Record 33 of Set 2 | kapaa
Processing Record 34 of Set 2 | kanie
Processing Record 35 of Set 2 | vangaindrano
Processing Record 36 of Set 2 | tuktoyaktuk
Processing Record 37 of Set 2 | pafos
Processing Record 38 of Set 2 | araouane
Processing Record 39 of Set 2 | plettenberg bay
Processing Record 40 of Set 2 | sfantu gheorghe
Processing Record 41 of Set 2 | maniitsoq
Processing Record 42 of Set 2 | nordlingen
City not found. Skipping...
Processing Record 43 of Set 2 | klaksvik
Processing Record 44 of Set 2 | lagoa
Processing Record 45 of Set 2 | sladkovo
Processing Record 46 of Set 2 | nikolskoye
Processing Record 47 of Set 2 | bengkulu
Processing Record 48 of Set 2 | jieshou
Processing Record 49 of Set 2 | vila
Processing Record 50 of Set 2 | northam
Processing Record 1 of Set 3 | einbeck
Processing Record 2 of Set 3 | baoding
Processing Record 3 of Set 3 | bandarbeyla
Processing Record 4 of Set 3 | amderma
City not found. Skipping...
Processing Record 5 of Set 3 | barranca
Processing Record 6 of Set 3 | hilo
Processing Record 7 of Set 3 | souillac
Processing Record 8 of Set 3 | comodoro rivadavia
Processing Record 9 of Set 3 | yellowknife
Processing Record 10 of Set 3 | san andres
Processing Record 11 of Set 3 | mackay
Processing Record 12 of Set 3 | khormuj
City not found. Skipping...
Processing Record 13 of Set 3 | marcona
City not found. Skipping...
Processing Record 14 of Set 3 | grindavik
Processing Record 15 of Set 3 | hunza
City not found. Skipping...
Processing Record 16 of Set 3 | ahualulco
Processing Record 17 of Set 3 | laguna
Processing Record 18 of Set 3 | kargasok
Processing Record 19 of Set 3 | bambous virieux
Processing Record 20 of Set 3 | nome
Processing Record 21 of Set 3 | morehead
Processing Record 22 of Set 3 | sapele
Processing Record 23 of Set 3 | elko
Processing Record 24 of Set 3 | sataua
City not found. Skipping...
Processing Record 25 of Set 3 | indiana
Processing Record 26 of Set 3 | sao filipe
Processing Record 27 of Set 3 | new norfolk
Processing Record 28 of Set 3 | narsaq
Processing Record 29 of Set 3 | muhos
Processing Record 30 of Set 3 | delta del tigre
Processing Record 31 of Set 3 | dikson
Processing Record 32 of Set 3 | kaitangata
Processing Record 33 of Set 3 | mount gambier
Processing Record 34 of Set 3 | saint-joseph
Processing Record 35 of Set 3 | nandi hills
Processing Record 36 of Set 3 | amiens
Processing Record 37 of Set 3 | nyurba
Processing Record 38 of Set 3 | sistranda
Processing Record 39 of Set 3 | gizo
Processing Record 40 of Set 3 | ngukurr
City not found. Skipping...
Processing Record 41 of Set 3 | arraial do cabo
Processing Record 42 of Set 3 | salalah
Processing Record 43 of Set 3 | daru
Processing Record 44 of Set 3 | tessalit
Processing Record 45 of Set 3 | esperance
Processing Record 46 of Set 3 | mnogovershinnyy
Processing Record 47 of Set 3 | palana
Processing Record 48 of Set 3 | saleaula
City not found. Skipping...
Processing Record 49 of Set 3 | hermanus
Processing Record 50 of Set 3 | karakol

KeyboardInterrupt:

In [17]:
len(city_data)

134

In [18]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Cabedelo,-6.9811,-34.8339,81.27,75,10,11.70,BR,2022-01-20 21:51:16
1,Port Elizabeth,-33.9180,25.5701,71.10,88,0,23.02,ZA,2022-01-20 21:51:17
2,Poya,-21.3500,165.1500,82.51,75,90,5.97,NC,2022-01-20 21:51:17
3,Atuona,-9.8000,-139.0333,78.80,76,45,23.47,PF,2022-01-20 21:51:19
4,Turukhansk,65.8167,87.9833,5.76,95,100,15.59,RU,2022-01-20 21:51:22
5,Stornoway,58.2093,-6.3865,40.96,92,75,1.99,GB,2022-01-20 21:51:22
6,Jamestown,42.0970,-79.2353,16.09,44,100,13.80,US,2022-01-20 21:46:35
7,Kahului,20.8947,-156.4700,80.62,72,40,6.91,US,2022-01-20 21:51:23
8,Hamilton,39.1834,-84.5333,27.45,52,40,1.01,US,2022-01-20 21:51:24
9,Bredasdorp,-34.5322,20.0403,60.12,82,0,3.44,ZA,2022-01-20 21:51:25

In [19]:
new_column_order = ['City', 'Country', 'Date', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness', 'Wind Speed']

In [21]:
city_data_df = city_data_df[new_column_order]
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Cabedelo,BR,2022-01-20 21:51:16,-6.9811,-34.8339,81.27,75,10,11.70
1,Port Elizabeth,ZA,2022-01-20 21:51:17,-33.9180,25.5701,71.10,88,0,23.02
2,Poya,NC,2022-01-20 21:51:17,-21.3500,165.1500,82.51,75,90,5.97
3,Atuona,PF,2022-01-20 21:51:19,-9.8000,-139.0333,78.80,76,45,23.47
4,Turukhansk,RU,2022-01-20 21:51:22,65.8167,87.9833,5.76,95,100,15.59
5,Stornoway,GB,2022-01-20 21:51:22,58.2093,-6.3865,40.96,92,75,1.99
6,Jamestown,US,2022-01-20 21:46:35,42.0970,-79.2353,16.09,44,100,13.80
7,Kahului,US,2022-01-20 21:51:23,20.8947,-156.4700,80.62,72,40,6.91
8,Hamilton,US,2022-01-20 21:51:24,39.1834,-84.5333,27.45,52,40,1.01
9,Bredasdorp,ZA,2022-01-20 21:51:25,-34.5322,20.0403,60.12,82,0,3.44

In [22]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")